{% extends "base.html" %}
<link rel="stylesheet" href="css/base.css">
{% block content %}
<h1>Controls</h1>
    <ul>
        <li>Salt Level {{ salt_level }}</li>
        <form action="post">
        {% if vacation_mode %}
        <li>Vacation Mode: <button type="button" >On</button></li>
        {% else %}
        <li>Vacation Mode: <button type="button" >Off</button></li>
        {% endif %}</form>
{#        <li>Vacation Mode: {{ vacation_mode }}</li>#}
        <div>
            <form action="/your-name/" method="post">
                <button type="button" ><arrow class="up"></arrow></button>
                <button type="button" class="down"></button>
            </form>

        </div>
        <ul>
            <li>Days away: {{ days_away }}</li>
        </ul>
        <li>System Alarm: {{ system_alarm }}</li>
        <ul>
            <li>Set for {{ system_alarm_time }}</li>
        </ul>
        <li>Time of Day: {{ time_of_day }}</li>
        <li>Current Day: {{ current_day_of_week }}</li>
        <li>Current Date: {{ current_date }}</li>
        <li>Auto Daylight Savings Time: {{ auto_dst }}</li>
    </ul>
<h1>Conditions</h1>
<ul>
</ul>
{% endblock %}